html{
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#cabecera{
    background-color: white;
    border: 1px;
    border-color: rgb(236, 236, 236);
    border-style: outset;
    border-top: hidden;
    border-radius: 4px;
    width:100%
    
}

#hh{
    padding: 2px;
    border-bottom: solid 1px;
    border-color: rgb(236, 236, 236);
}

#sec{
    padding: 2px;
    border-bottom: solid 1px;
    border-color: rgb(236, 236, 236);
}

#ff{
    padding: 5px;
    border-bottom: solid 1px;
    border-color: rgb(236, 236, 236);
    height: 30px;
}

#b1{
    background-color: rgb(54, 139, 219);
    color: white;
    border: none;
    padding:4px;
}

#b2{
    background-color: rgb(172, 172, 179);
    color: white;
    border: none;
    padding:4px;
}

