body{
    display: grid;
    grid-template-rows: 50px 50px ;
    grid-template-columns: 1fr 80px 50px;
    grid-column-start:1 ;
    grid-column-end: 3;
    margin: 0;
    background-color: antiquewhite;
    column-gap: 10px;
}
div{
    margin: 10px;
}